In [1]:
import pandas as pd

file_path = r"C:\Users\gargi\Desktop\Publication\Transcriptomic_and_Epigenomic_Features\DIAGRAMv3.2012DEC17.txt"

# Read the text file into a DataFrame
df = pd.read_csv(file_path, sep='\t')

df.head(5)

,SNP,CHROMOSOME,POSITION,RISK_ALLELE,OTHER_ALLELE,P_VALUE,OR,OR_95L,OR_95U,N_CASES,N_CONTROLS
0,rs12565286,1,711153,G,C,0.16,1.11,0.96,1.30,4040,17875
1,rs3094315,1,742429,A,G,0.82,1.01,0.95,1.07,6673,25149
2,rs2905035,1,765522,G,A,0.36,1.04,0.96,1.11,4984,23960
3,rs2980319,1,766985,T,A,0.39,1.03,0.97,1.09,7575,27012
4,rs4040617,1,769185,A,G,0.50,1.03,0.95,1.11,4984,23960

In [2]:
# Summary
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2473441 entries, 0 to 2473440
Data columns (total 11 columns):
 #   Column        Dtype
---  ------        -----
 0   SNP           object
 1   CHROMOSOME    int64
 2   POSITION      int64
 3   RISK_ALLELE   object
 4   OTHER_ALLELE  object
 5   P_VALUE       float64
 6   OR            float64
 7   OR_95L        float64
 8   OR_95U        float64
 9   N_CASES       int64
 10  N_CONTROLS    int64
dtypes: float64(4), int64(4), object(3)
memory usage: 207.6+ MB
None

## Convert .txt into .csv file

In [3]:
df.to_csv('C:/Users/gargi/Desktop/Publication/Transcriptomic_and_Epigenomic_Features/DIAGRAMv3.2012DEC17.csv', index=False)

In [4]:
vep_annot = pd.read_csv(
    r"C:\Users\gargi\Desktop\Publication\Transcriptomic_and_Epigenomic_Features\bwMtrPidtktV3hgO.txt",
    sep='\t',
    #comment='#',
    header=None,
    #engine='python',
    #on_bad_lines='skip'  # skip corrupted lines
    
)
# Rename the column for merging
#vep_annot.rename(columns={"Uploaded_variation": "SNP"}, inplace=True)

# Show first few columns to confirm it looks good
#print(vep_annot.columns.tolist())
#print(vep_annot.head(5))

vep_raw = vep_annot.rename(columns={
    0: 'rsID',
    3: 'Consequence',
    4: 'IMPACT',
    5: 'Gene',
    47: 'SIFT',
    48: 'PolyPhen',
    130: 'PHENOTYPES'
})

# Extract just those columns
vep_df = vep_raw[['rsID', 'Consequence', 'IMPACT', 'Gene', 'SIFT', 'PolyPhen', 'PHENOTYPES']].copy()

# Preview
vep_df.head()

,rsID,Consequence,IMPACT,Gene,SIFT,PolyPhen,PHENOTYPES
0,#Uploaded_variation,Consequence,IMPACT,SYMBOL,DOMAINS,miRNA,ALFA_Latin_American_2_AN
1,rs1801282,missense_variant,MODERATE,PPARG,AFDB-ENSP_mappings:AF-P37231-F1,-,850
2,rs1801282,missense_variant,MODERATE,PPARG,AFDB-ENSP_mappings:AF-P37231-F1,-,850
3,rs1801282,"missense_variant,NMD_transcript_variant",MODERATE,PPARG,AFDB-ENSP_mappings:AF-E9PFV3-F1,-,850
4,rs1801282,"missense_variant,NMD_transcript_variant",MODERATE,PPARG,AFDB-ENSP_mappings:AF-E9PFV3-F1,-,850

In [5]:
# Summary
print(vep_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rsID         293 non-null    object
 1   Consequence  293 non-null    object
 2   IMPACT       293 non-null    object
 3   Gene         293 non-null    object
 4   SIFT         293 non-null    object
 5   PolyPhen     293 non-null    object
 6   PHENOTYPES   293 non-null    object
dtypes: object(7)
memory usage: 16.1+ KB
None

## Convert .txt into .csv file

In [7]:
vep_df.to_csv('C:/Users/gargi/Desktop/Publication/Transcriptomic_and_Epigenomic_Features/bwMtrPidtktV3hgO.csv', index=False)

In [8]:
print(df.columns[:10])

Index(['SNP', 'CHROMOSOME', 'POSITION', 'RISK_ALLELE', 'OTHER_ALLELE',
       'P_VALUE', 'OR', 'OR_95L', 'OR_95U', 'N_CASES'],
      dtype='object')